*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(71, 33, 33);
    display: flex;
    justify-content: center;
    padding: 2rem 1rem 1rem 1rem;
}

nav{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

button{
    padding:2px 10px 0px 10px;
    background: none;
    color: aliceblue;
    font-size: 1.2rem;
    border: none;
}

#content{
    width: 100%;
    background-color: whitesmoke;
}

.brand-name{
    color: antiquewhite;
    width: 100vw;
    height: 85vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/robin-stickel.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    position: relative;
}

.about{
    display: flex;
}

.about-text{
    padding: 2rem;
    text-align: center;
    line-height: 1.5;
    width: 50%;
    
}

.about-img{
    width: 400px;
    
    position: absolute;
    left: 60%;
    top: 95%;
    bottom: 10%;
}

